{% extends 'pages/base.html' %}
{% load static %}
{% block extrahead %}

{% endblock extrahead %}

{% block title %}
Website Menu #4
{% endblock title %}

{% block navbar%}
{% include 'pages/navbar.html' %}

{% endblock navbar %}

{% block content %}

<div class="hero" style="background-image: url('/static/08e2d63a-69be-42c6-ac3d-51a9e25b709e-3409280224.jpeg');"></div>
{% endblock content %}
{% block javascript %}

<script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/jquery.sticky.js' %}"></script>
<script src="{% static '/js/main.js' %}"></script>
{% endblock javascript %}
