{% extends 'pages/base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% get_static_prefix %}css/style.css">
{% endblock extrahead %}

{% block title %}
Nuestros productos
{% endblock title %}

{% block navbar %}
{% include 'pages/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in object_list %}
    <div class="col">
      <div class="card h-100">
        {% if product.fotos %}
        <a href="{{ product.slug }}">
          <img src="{{ product.fotos.url }}" class="card-img-top img-listado" alt="{{ product.name }}">
        </a>
        {% else %}
          <img src="{% static 'images/teclado-1725199204.jpeg' %}" class="card-img-top img-listado" alt="{{ product.name }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          {% for precio_stock in product.precios.all %}
          
          <p class="card-text">Precio: {{ precio_stock.precio }}</p>
          <p>Peso: {{ precio_stock.peso }}</p>
          <p>hola</p>
          <form action="{% url 'compra:agregar' %}" method="post">
            {% csrf_token %}
            <button type="submit">Añadir al carrito</button>
          </form>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock javascript %}
