{% extends 'pages/base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% get_static_prefix %}css/style.css">
{% endblock extrahead %}

{% block title %}
Nuestros productos
{% endblock title %}

{% block navbar %}
{% include 'pages/navbar.html' %}
{% endblock navbar %}

{% block content %}
<p>{{ STRIPE_PUBLIC_KEY }}</p>
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in object_list %}
    <div class="col">
      <div class="card h-100">
        {% if product.fotos %}
        <a href="{{ product.slug }}">
        <img src="{{ product.fotos.url }}" class="card-img-top img-listado" alt="{{ product.name }}">
      </a>
        {% else %}
          <img src="{% static 'images/teclado-1725199204.jpeg' %}" class="card-img-top img-listado" alt="{{ product.name }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <form action="{% url 'compra:create-checkout-session' %}" method="POST">
            {% csrf_token %}
            {% for precio_stock in product.precio.all %}
              <input type="radio" id="product" name="product_id" value="{{ precio_stock.id }}" {% if forloop.first %}checked{% endif %}>
              <label for="product">{{ precio_stock.precio }}</label><br>
            {% endfor %}
            <button type="submit" id="checkout-button">Checkout</button>
          </form>
          <p><a href="{{ product.slug }}"></a></p>
          <button type="button" class="btn btn-primary">Añadir al carrito</button>
          <button type="button" class="btn btn-success" data-product-id="{{ precio_stock.id }}">
            <p>{{ precio_stock.id }}</p>
            Comprar
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock javascript %}
